
.header{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-image:url(TR-tr-20220912-popsignuptwoweeks-perspective_alpha_website_large.jpg) 
}
.logo{
    width: 150px;
    margin-left: 5rem;
}
.input-group{
    width: 900px;
    height: 80px;
}
.btn{
    background-color: red;
    width: 200px;
}
.button{
    background-color: #e50914;
    float: right;
    font-size: 1rem;
    font-weight: 400px;
    line-height: normal;
    padding: 7px 17px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    margin-right: 3.5rem;
    margin: 2rem;
}
.button:hover{
    color: white;
}
.parent{
    max-width: 640px;
    margin: auto;
    font-size: 3.125rem;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.yazi{
    font-size: 14px;
}
.box{
    width: 80%;
    margin: auto;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-floating{
    display: inline-block;
    width:auto;
    margin: auto;
}
.cizgi{
    width: 100%;
    height: 10px;
    background-color: rgb(54, 50, 50);
}
.ustyapi{
    width: 100%;
    height: 400px;
    background-color: black;
    margin: auto;
}
.kapsayici{
    width: 90%;
    margin: auto;
}
.icerik{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
h1{
    font-size: 3rem;
}
.box1{
    width: 50%;
    height: 100px;
    display: flex;
    float: left;
    color: white; 
    display: block; 
    padding-top: 2rem;
    
}
.box2{
    width: 50%;
    height: 100px;
    display: flex;
    float: left;
    justify-content: center;
}
.netflix{
    max-width: 500px;
    height: 200px;
}
.orta{
    text-align: center;
}
.kapsayici{
    width: 90%;
    margin: auto;
    background-color: black;
}
@media screen and (max-width:900px){
    .input-group{
        display: block;
        width: 100%;
        height: 300px;
    }
    .button{
        display: block;
        width: 100%;
        margin: auto;

    }
    .row{
        width: 100%;
        display: block;
        margin: auto;
        text-align: center;
        justify-content: center;
    }
    .logo{
        display: block;
        margin: auto;
        text-align: center;
    }
    .col-6{
        display: block;
        margin: auto;
        text-align: center;
    }
    .btn{
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 1rem;                
    }
    b{
        display: block;
        text-align: center;
        font-size: 30px;
        justify-content: center;
    }
    .yazi{
        text-align: center;
        width: 100%;
        display: block;
        font-size: 15px;
    }
    .input-group{
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
        justify-content: center;
        height: auto;
    }
    .ustyapi{
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
        justify-content: center;
    }
    .kapsayici{
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
        justify-content: center;
    }
    .icerik{
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
        justify-content: center;
    }
    .box1{
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
        justify-content: center;
    }
    .box2{
        display: block;
        width: 100%;
        position: absolute;
        justify-content: space-around;

    }
    .netflix{
        display: block;
        width: 250px;
        height: auto;
        margin: auto; 
        position: absolute;
        position: relative;
        top: 140px;
    }
    h1{
        display: block;
        text-align: center;
        width: 100%;
        display: block;
        font-size: 15px;
    }
    h3{
        display: block;
        text-align: center;
        width: 100%;
        display: block;
        font-size: 14px;
    }
}





